html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

// .position-ref {
//   position: relative;
// }

// .top-right {
//   position: absolute;
//   right: 10px;
//   top: 18px;
// }

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}
.text{
  color: #101;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;

}
.links > a {
  //color: #636b6f;
  color: #101;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.links > a:hover {
  text-decoration: underline;
}

.m-b-md {
  margin-bottom: 30px;
}
// product
.product-name {
  color: black;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
 
}

.product{
  //display: grid;
  display: grid;
  justify-content: center;
  align-content: center;
  border: black solid 1px;
}
.product-body {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    //grid-gap: 60px 50px;
   // margin-bottom: 10px;
  }

  // category navbar

.nav-grid{
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  height: 5%;
}
.nav-link {
  border: black solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
//product page
.single-product-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 45%;
}
.descript {
  border: black solid 1px;
  // display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
}
.btn { 
  border: black solid 1px;
  height: 5%;
  background: #fff;
  
  justify-content: center;
  align-items: center;
  display: grid;

 // width: 100%;
}
.height{
  height: 40px;
}
.btn:hover{
  text-decoration: underline;
}
.mt-2{
  margin-top: 20px;
}
.mb-2{
  margin-bottom: 20px;
}
// footer

.footer{
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  height: 5%;
  //border: #101 solid 1px;
  border-bottom: #101 solid 1px;
}
.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.hei-5{
  height: 5%;
}
///cart
.cart-page{
  display: grid;
  grid-template-rows: 1fr;
  height: 33%;
}
.btn-no-border{
  background: #fff;
  //display: block;
  border: none;
  text-align: center;
  justify-content: center;
}
.btn-no-border:hover{
  cursor: pointer;
  text-decoration: underline;
}


