html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.content {
  text-align: center;
}

// .title {
//   font-size: 84px;
// }
.text{
  color: #101;
 
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-decoration: none;
  text-transform: uppercase;

}


// product


.product{
 
  height: 250px;
  display: grid;
  align-items: center;
  text-align: center;
  border-right: #101 solid 1px;
  border-bottom: #101 solid 1px;
}


  // category navbar


.nav-link {
  border-bottom: black solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.btn:hover{
  text-decoration: underline;
}
.mt-2{
  margin-top: 20px;
}
.mb-2{
  margin-bottom: 20px;
}

// footer

.footer{
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  height: 5%;
  //border: #101 solid 1px;
  border-bottom: #101 solid 1px;
}
.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}


.checkout-products{
  grid-template-rows: 1fr;
  height: 33%;
}

.chekout-page{
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
}

// strip

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


/// welcome page grid 
.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:40px 125px 125px 125px 125px 125px 125px;
  text-align: center;
}
.navbar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  
}
.border_div{
  border-bottom: black solid 1px;
  //display: flex;
  justify-content: center;
  align-items: center;
}
.list_none{
  list-style: none;
}
.title {
  font-size: 20px;
}
//shop
.container_shop{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:40px 50px 60px auto 50px;
  text-align: center;
  height: 100%;
}
.category_shop{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.product-body {
    
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  text-align: center;
  
}
/// cart 
.container_cart{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 40px 40px auto 40px;
  height: 100%;
}
.cart_body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: auto;
 
}
.cart{
  grid-column: 2/4;
  border-left: #101 solid 1px;
  border-right: #101 solid 1px;
  border-bottom: #101 solid 1px;
}
.cart_product{

  display: grid;
  grid-template-columns: 1fr;

}

/// checkout

.container_check{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px auto 40px auto 40px;
  height: 100%;
}
.product_check{
 
  height: 150px;
  display: grid;
  align-items: center;
  text-align: center;
  border-right: #101 solid 1px;
  border-bottom: #101 solid 1px;
}
// product 

.container_product{

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px auto 40px; 
  height: 100%;
}
.left_side{
  grid-column: 2/3;
  border-left: #101 solid 1px;
  border-right: #101 solid 1px;
  border-bottom: #101 solid 1px;
}
.right_side{
  grid-column: 3/4;
  border-left: #101 solid 1px;
  border-right: #101 solid 1px;
  border-bottom: #101 solid 1px;
}
// login // register look 
.container_log{
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 600px; 
  height: 100%;
}



//Butoons

.btn_radius{
 
  border: 1px solid #101 ;
  border-radius: 40px;
  background: #fff;
  text-align: center;
  justify-content: center;
}
.btn_radius:hover{
  cursor: pointer;
  text-decoration: underline;
}

.btn-no-border{
  background: #fff;
  //display: block;
  border: none;
  text-align: center;
  justify-content: center;
}
.btn-no-border:hover{
  cursor: pointer;
  text-decoration: underline;
}




.bor-r{
  border-right: #101 solid 1px;
}
.bor-l{
  border-left: #101 solid 1px;
}



/// margins
.ml-auto{
  margin-left: auto;
}
.mr-auto{
  margin-right: auto;
}
.m-auto{
  margin: auto;
}
.p-1{
  padding: 10px 0;
}
.p-100{
  padding: 100px 0;
}
.toright{
  justify-content: flex-end;
}
.toleft{
  justify-content: flex-start;
}
.ml-2{
  margin-left: 20px;
}
.mr-2{
  margin-right: 20px;
}
.ml-1{
  margin-left: 10px;
}
.mr-1{
  margin-right: 10px;
}

//pagination 
.pagination {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.isDisabled > a {
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}