html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
}

.text {
  color: #101;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-decoration: none;
  text-transform: uppercase;
}

.links > a {
  color: #101;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.links > a:hover {
  text-decoration: underline;
}

.m-b-md {
  margin-bottom: 30px;
}

.product {
  height: 250px;
  display: grid;
  align-items: center;
  text-align: center;
  border-right: #101 solid 1px;
  border-bottom: #101 solid 1px;
}

.nav-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  height: 5%;
}

.nav-link {
  border-bottom: black solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-product-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 45%;
}

.descript {
  border: black solid 1px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
}

.btn {
  border: black solid 1px;
  height: 5%;
  background: #fff;
  justify-content: center;
  align-items: center;
  display: grid;
}

.height {
  height: 40px;
}

.btn:hover {
  text-decoration: underline;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.footer {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  height: 5%;
  border-bottom: #101 solid 1px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.checkout-products {
  grid-template-rows: 1fr;
  height: 33%;
}

.btn-no-border {
  background: #fff;
  border: none;
  text-align: center;
  justify-content: center;
}

.btn-no-border:hover {
  cursor: pointer;
  text-decoration: underline;
}

.chekout-page {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 125px 125px 125px 125px 125px 125px;
  text-align: center;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.border_div {
  border-bottom: black solid 1px;
  justify-content: center;
  align-items: center;
}

.list_none {
  list-style: none;
}

.title {
  font-size: 20px;
}

.container_shop {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 50px 60px auto 50px;
  text-align: center;
  height: 100%;
}

.category_shop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.product-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.container_cart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px auto 40px;
  height: 100%;
}

.cart_body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.cart {
  grid-column: 2/4;
  border-left: #101 solid 1px;
  border-right: #101 solid 1px;
  border-bottom: #101 solid 1px;
}

.cart_product {
  display: grid;
  grid-template-columns: 1fr;
}

.container_check {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px auto 40px auto 40px;
  height: 100%;
}

.product_check {
  height: 150px;
  display: grid;
  align-items: center;
  text-align: center;
  border-right: #101 solid 1px;
  border-bottom: #101 solid 1px;
}

.container_product {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px auto 40px;
  height: 100%;
}

.left_side {
  grid-column: 2/3;
  border-left: #101 solid 1px;
  border-right: #101 solid 1px;
  border-bottom: #101 solid 1px;
}

.right_side {
  grid-column: 3/4;
  border-left: #101 solid 1px;
  border-right: #101 solid 1px;
  border-bottom: #101 solid 1px;
}

.bor-r {
  border-right: #101 solid 1px;
}

.bor-l {
  border-left: #101 solid 1px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.m-auto {
  margin: auto;
}

.p-1 {
  padding: 10px 0;
}

.p-100 {
  padding: 100px 0;
}

.toright {
  justify-content: flex-end;
}

.toleft {
  justify-content: flex-start;
}

.ml-2 {
  margin-left: 20px;
}

.mr-2 {
  margin-right: 20px;
}

.ml-1 {
  margin-left: 10px;
}

.mr-1 {
  margin-right: 10px;
}

.pagination {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.isDisabled > a {
  color: currentColor;
  display: inline-block;
  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

